*{margin: 0px; padding: 0px;}

/*==========Nav Css ========*/
body{
    font-family: 'Poppins', sans-serif;
}

.nvabar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px!important;
    padding-right: 16px!important;
}

.navbar-toggler {
    outline: none!important;
}

.bg-dark {
    background: #000!important;
}
/*==========Nav Css ends ========*/

/*==========Slider Css ========*/

.carousel-item{
    height: 600px;
}

.carousel-image-1{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('Images/image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-image-2{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('Images/image2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-image-3{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('Images/image3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title-color{
    color:#fff;
}

.btn-color{
    background:#000;
    color: grey;
}

.btn-color:hover{
    color:#fff;
}

@keyframes slide-btn{
    16%{
        transform:translateY(8px);
    }
    33%{
        transform: translateY(-6px);
    }
    50%{
        transform: translateY(4px);
    }
    65%{
        transform: translateY(-2px);
    }
    85%{
        transform: translateY(1px);
    }
    100%{
        transform: translateY(0px);
    }
}

.slide-btn{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0px);
    box-shadow: 0 0 1pxrgba(0,0,0,0);
}

.slide-btn:hover,
.slide-btn:focus,
.slide-btn:active{
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
